/* Variables */
:root {
  --backgound-color: #f6fafd;
  --heading-text: #4b5d68;
  --blue-dark: #212353;
  --purple-primary: #9c69e2;
  --base-font: "Open Sans", sans-serif;
  --font-light: 300;
  --font-medium: 400;
  --font-bold: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  font-size: 4rem;
  font-family: var(--base-font);
  color: var(--blue-dark);
}

/* Adding local fonts */
/* @font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica\ 400.ttf") format("ttf");
} */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--backgound-color);
}

/* header */
#header {
  padding: 5rem 20rem;
}

.navbar {
  display: flex;
  align-items: center;
}

.nav-option {
  margin-left: 5rem;
  list-style: none;
  flex: 0 0 30rem;
  display: flex;
  justify-content: space-between;
  font-family: var(--base-font);
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--blue-dark);
}

.nav-button {
  margin-left: auto;
  cursor: pointer;
  font-family: var(--base-font);
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--navbar-color);
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 10rem;
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(75, 93, 104, 0.1);
}

.btn-arr {
  margin-left: 0.6rem;
  height: 14px;
  width: 20px;
}

.jumbotron {
  display: flex;
}

.heading__head--1 {
  font-size: 8rem;
  color: var(--blue-dark);
  display: block;
  margin-top: 13rem;
  width: 60rem;
}

.heading__text {
  margin-top: 5rem;
  font-family: var(--base-font);
  font-size: 2rem;
  display: block;
  width: 40rem;
  line-height: 1.4;
  color: var(--heading-text);
}

.heading__button {
  background-color: var(--purple-primary);
  color: #fff;
  margin-top: 5rem;
}

.heading__img {
  align-self: flex-end;
  width: 80rem;
  flex: 0 0 75rem;
  margin-left: -15rem;
  margin-bottom: -3rem;
}

/* About */
#about {
  padding: 5rem 20rem;
}

.about__container {
  background-color: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  display: flex;
  align-items: center;
  height: 56rem;
  margin-top: 5rem;
}

.about__container img {
  flex: 0 0 47.7rem;
  margin-left: 2rem;
}

.about__text {
  margin: 0 9rem 0 6rem;
}

.about__text h3 {
  margin-bottom: 4rem;
}

.about__text p {
  color: var(--heading-text);
  font-size: 1.6rem;
  font-family: var(--base-font);
  line-height: 1.5;
}

/* Features */
#features {
  padding: 5rem 20rem;
}

#features > h3,
#features > p {
  text-align: center;
  display: block;
  margin: 0 auto;
}

#features > h3 {
  margin-bottom: 2rem;
}

#features > p {
  color: var(--heading-text);
  font-size: 1.5rem;
  font-family: var(--base-font);
  width: 40%;
  line-height: 1.5;
}

.feature {
  margin-top: 7rem;
  display: grid;
  column-gap: 10rem;
  row-gap: 5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 35rem;
}

.feature__base {
  position: relative;
}

.feature__single {
  background: rgba(104, 201, 186, 0.1);
  clip-path: polygon(16% 0, 100% 0, 100% 100%, 0% 100%);
  border-radius: 5rem;

  padding: 5rem 4rem 5rem 7rem;
}

.feature--2 > .feature__single {
  background: rgba(156, 105, 226, 0.1);
}

.feature--3 > .feature__single {
  background: rgba(240, 99, 184, 0.1);
}

.feature--4 > .feature__single {
  background: rgba(45, 156, 219, 0.1);
}

.feature__img {
  position: absolute;
  width: 20rem;
  left: 0;
  top: 7.3rem;
}

.feature__text {
  margin-left: 17rem;
}

.feature__text > h4 {
  font-family: var(--base-font);
  color: var(--blue-dark);
  font-size: 2.4rem;
  margin-bottom: 2rem;
  font-weight: var(--font-medium);
}

.feature__text > p {
  font-family: var(--base-font);
  color: var(--heading-text);
  font-size: 1.5rem;
  line-height: 1.7;
  font-weight: var(--font-medium);
  height: 15rem;
}

.feature-btn {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
}

#testimonials {
  padding: 5rem 20rem;
}

.testimonials__container {
  background-color: var(--purple-primary);
  border-radius: 5rem;
  padding: 10.9rem 9.3rem 5rem 9.3rem;
}

.testimonials__container > h3 {
  color: white;
  display: inline-block;
}

.testimonials__single {
  margin-top: 8.8rem;
  margin-bottom: 6rem;
}

.testimonial {
  background-color: white;
  width: 64.5rem;
  border-radius: 2rem;
  display: flex;
  padding: 6rem;
  box-shadow: 0 2rem rgba(79, 41, 88, 0.4);
}

.testimonial > img {
  align-self: start;
  margin-right: 3rem;
  width: 9rem;
  height: 9rem;
}

.testimonial__text > h5 {
  font-size: 2.3rem;
  font-family: var(--base-font);
  color: var(--blue-dark);
}

.testimonial__text > h6 {
  font-size: 2rem;
  font-family: var(--base-font);
  color: var(--purple-primary);
}

.testimonial__text > p {
  margin-top: 1.9rem;
  font-size: 1.8rem;
  font-family: var(--base-font);
  color: var(--heading-text);
  line-height: 1.6;
  font-weight: 300;
}

.testimonial__navigation {
  display: flex;
  align-items: center;
}

.circle {
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 1rem;
}

.active {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #f063b8;
}

.left-arr {
  margin-left: auto;
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
}

.right-arr {
  justify-self: flex-end;
  margin-left: 1rem;
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
}

/* footer */

#footer {
  padding: 5rem 20rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr) 3rem;
}

.footer__head {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
}

.footer__head__text > h4 {
  font-family: var(--base-font);
  color: var(--blue-dark);
  font-size: 3rem;
}

.footer__head__text > p {
  font-family: var(--base-font);
  color: var(--heading-text);
  font-size: 1.7rem;
}

.nav-button--purple {
  background-color: #f063b8;
  color: #fff;
  margin-left: auto;
  height: 4rem;
}

.nav-button--footer {
  height: 4rem;
  margin-left: 2rem;
}

.footer__brand {
  grid-column: 1 / 2;
}

.brand > h6 {
  color: var(--blue-dark);
  font-size: 2rem;
  font-family: var(--base-font);
  margin-left: 2rem;
}

.brand {
  display: flex;
  align-items: center;
  margin-bottom: 6rem;
}

.footer__brand > p {
  color: var(--blue-dark);
  font-size: 1.5rem;
  font-family: var(--base-font);
  font-weight: 600;
}

.footer__brand .info {
  font-weight: 400;
  margin-top: 1rem;
}

.footer__about {
  background: #9c69e2;
  grid-column: 2 / 3;
}

.footer__help {
  background-color: yellowgreen;
  grid-column: 3 / 4;
}

.footer__social {
  background-color: orangered;
  grid-column: 4 / 5;
}

.footer__foot {
  background-color: #4b5d68;
  grid-column: 1 / -1;
}
