/* Variables */
:root {
  --backgound-color: #E5E5E5;
  --navbar-color: #212353;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--backgound-color);
}

/* header */
.header {
  padding: 5rem 20rem;
}

.navbar {
  display: flex;
  align-items: center;
}

.nav-option {
  margin-left: 5rem;
  list-style: none;
  flex: 0 0 30rem;
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--navbar-color);
}

.nav-button {
  margin-left: auto;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--navbar-color);
  background-color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 10rem;
  border: none;
  box-shadow: 0 .5rem 1rem rgba(75, 93, 104, 0.1);
}
